<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IfCrypto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2422EEED1FD4A21A00454C08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2422EF011FD4A21A00454C08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2422EF0C1FD4A21A00454C08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
